header {
  text-align: center;
  color: brown;
}

nav {
  color: #b3603d;
}

body {
/*  margin: 10px;*/
  font-family: 'Noto Serif', serif;
  line-height: 2rem;
  color: #3d3d3d;
}

.p-dn {
  color: #800000;
  /*font-family: 'Mukta', sans-serif;*/
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-bottom: 5px;
}

/*article {
  margin: 10px 10%;
  max-width: 100%;
}*/

p.trans-tb {
  margin: 5px 15px;
  font-weight: 200;
}

h1 span.abbrev {
  display: block;
}

h1 span.p-dn {
  font-weight: 600;
  font-size: 2rem;
}

h1 span.en-r {
  font-weight: 300;
  font-size: 1.2rem;
  font-style: italic;
}

h1 span.trans-tb {
  margin: 5px 15px;
  font-weight: 200;
  font-size: 1.4rem;
  display: block;
}

